<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<h2>String Interpolation </h2>
{{name}}

<h2>Property Binding </h2>
<input [value]="name">

<h2>Attribute Binding </h2>
<table border="1px solid black">
  <tr>
    <td>FirstName</td>
    <td>LastName</td>
  </tr>
  <tr>
    <td [attr.colspan]="2">PrabaKaran</td>
  </tr>
</table>

<h2>Style Binding </h2>
<button [style.color]="isSpecial ? 'red': 'green'">Test</button>

<h2>Event Binding </h2>
<button (click)="clickMe()">{{buttonText}}</button>

